*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#super{
    height: 100%;
    width: 100%;
    background: linear-gradient(
    90deg,
    #07111F,
    #0B1D33,
    #07111F
);
}

#top{
    position: absolute;
    display: flex;
    top: 50px;
    left: 30px;
}

#left p{
    font-family: "Inter", sans-serif;
    color:#337785
}
#left h1{
     font-family: "Bebas Neue", sans-serif;
     font-size: 75px;
     color: aliceblue;
     word-spacing: 5px;
     font-weight: 200;
}

#center{
    width: 500px;
    position: absolute;
    top: 35px;
    left: 120%;
    display: flex;
    gap: 140px;
    word-spacing: 5px;
    color: rgb(255, 255, 255);
}
#menu1{
    line-height: 25px;
}
#right button{
    position: absolute;
    top: 50%;
    right: -250%;
    padding: 15px 29px;
    display: flex;
    gap: 15px;
    background: transparent;
    color: azure;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 18px;
    font-weight: 500;
    cursor: pointer;
    backdrop-filter: blur(10px);
}